.position-relative {
    position: relative;
}

.no-click {
    pointer-events: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

html, body {
    margin: 0;
    height: 100%;
}

@media (max-width: 468px) {
    .bottom-small {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
}

.text-white-75 {
    color: rgba(255,255,255,.75) !important;
}