body {
    background: url('../background.webp') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.emoji {
    border: 0;
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
    font-family: emoji;
}