<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="broodroosterdev">

    <title>broodrooster.dev</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/index.css" rel="stylesheet">
    <link href="assets/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet">
    <link rel="prefetch" href="https://github.com/broodroosterdev/" />
    <link rel="prefetch" href="https://gitlab.com/broodroosterdev/" />
</head>

<body>

    <!-- Credits -->
    <nav class="fixed-bottom ml-3">
        <div class="position-relative mb-1 fixed-bottom">
            <p class="text-white-50">Photo by
                <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px"
                    href="https://unsplash.com/@alesnesetril?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
                    target="_blank" rel="noopener noreferrer"
                    title="Download free do whatever you want high-resolution photos from Ales Nesetril"><span
                        style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
                            style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                            viewBox="0 0 32 32">
                            <title>unsplash-logo</title>
                            <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
                        </svg></span><span style="display:inline-block;padding:2px 3px">Ales Nesetril</span></a>
                on Unsplash</p>
        </div>
    </nav>

    <!-- Page Content -->
    <section class="h-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-3 text-white-50">broodrooster.dev</h1>
                    <p>
                        <pre class="text-white-75 align-text-left text-wrap">
Developer.<br>
🎓 studying HBO-ICT.<br>
❤️ love using rust.<br>
🔧 experience with mysql, nosql, java, c#, c++, js and python.<br>
🧪 experimented with pcb design, embedded hardware and sensors.<br>
🤖 automate using Gitlab CI/CD and Docker-Compose.</pre>
                    </p>
                </div>
                <div class="col-lg-6">
                    <h2 class="mt-3 mb-0 text-white-50">Contact me</h2>
                    <a href="mailto:basmakes@gmail.com" class="btn btn-dark mb-1">
                        <i class="fas fa-envelope"></i></a>
                    <a href="https://github.com/broodroosterdev/" class="btn btn-dark mb-1"><i
                            class="fab fa-github"></i></a>
                    <a href="https://gitlab.com/broodroosterdev/" class="btn btn-dark mb-1"><i
                            class="fab fa-gitlab"></i></a>
                    <div class="btn btn-dark mb-1 no-click"><i class="fab fa-discord"></i> broodrooster#5242</div>

                </div>

                <h2 class="pl-2 text-white-50 w-100">Projects</h2>
                {% for project in site.data.projects %}
                <div class="col-sm-auto mb-2">
                    <div class="card text-white bg-dark" style="width: 16rem;">
                        <video autoplay loop muted playsinline class="card-img-top" alt="Card image cap">
                            <source src="{{ project.gif }}" type="video/webm">
                        </video>
                        <div class="card-body" style="height: 10%; ">
                            <h5 class="card-title">{{ project.name }}</h5>
                            <p class="card-text">{{ project.description }}<br>
                                {% for badge in project.badges %}
                                <span class="badge badge-primary">{{ badge }}</span>
                                {% endfor %}
                            </p>
                            <a href="{{ project.link }}" class="btn btn-primary mt-2">View Code <i
                                    class="fab {{ project.icon }}"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <script src="https://twemoji.maxcdn.com/2/twemoji.min.js?12.0.0"></script>
    <script>
        // I \u2764 emoji!
        twemoji.parse(document.body);
    </script>
</body>
</html>
